@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    background-color: #fcfcfc;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    padding: 20px 50px 50px 50px;
    background-color: rgb(216, 211, 211);
    margin-top: 5px;
    margin-bottom: 5px;
}

.header {
    text-align: center;
}

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 0px 4px 4px 0px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.col-40 {
    float: left;
    width: 40%;
    margin-top: 6px;
}

.col-60 {
    float: left;
    width: 60%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

.button {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 20px;
    background-color: white;
    color: black;
    font-size: 20px;
    border: 2px solid #008CBA;
    border-radius: 4px;
}

.button:hover {
    background-color: #008CBA;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 600px) {
    .col-40,
    .col-60,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}